@import url(https://fonts.googleapis.com/css?family=Prata:regular&display=swap);
:root {
  --main: #282829;
  --dark-grey: #222;
  --yellow: #d5c9be;
  --more-yellow: #d6d6d6;
  --blue: #38535d;
  --input-grey: #55565a
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Arial;
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Arial;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  overflow-x: hidden;
  background-color: #000
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 101.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,100rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.form__error {
  color: red;
  padding: .3125rem .9375rem;
  max-width: 100%;
  font-family: Prata;
  letter-spacing: .09375rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  padding: 0 20px;
  border: 1px solid #eee;
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.select {
  min-width: 0;
  position: relative
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 1.875rem;
  padding: 0 .9375rem;
  gap: .625rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 10px;
  transition: all .3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0 5px 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit
}
.select__option._select-selected {
  background-color: #eee
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0 10px 0
}
._select-tag {
  cursor: pointer
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.content {
  background-color: var(--dark-grey);
  z-index: 0
}
.content__body {
  display: flex;
  flex-direction: column;
  position: relative
}
.content__image {
  max-width: 100%;
  flex: 0 1 33.333%;
  z-index: 2
}
.content__image img {
  position: absolute;
  top: 0;
  right: 0;
  width: 47.6875rem;
  height: 100%
}
.wrapper {
  position: relative
}
.header {
  display: none;
  justify-content: start;
  flex: 0 1 66.666%;
  align-items: start;
  background-color: var(--dark-grey);
  z-index: 100
}
.header.active {
  background-color: rgba(34,34,34,.7);
  transition: background-color .5s;
  position: sticky;
  top: 0;
  display: block
}
.header__container {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  align-items: center;
  min-height: 6.25rem;
  align-items: center;
  gap: .9375rem
}
.header__logo {
  grid-area: 1/1/2/2;
  display: flex;
  align-content: center
}
.header__logo img {
  width: 6.25rem;
  height: 6.25rem
}
.header__menu {
  grid-area: 1/2/2/4
}
.menu__list {
  display: flex;
  row-gap: .3125rem;
  flex-wrap: wrap
}
.menu__link {
  font-style: italic;
  line-height: 1.5;
  letter-spacing: .0625rem;
  text-transform: uppercase;
  color: #fff;
  border-bottom: .0625rem solid rgba(255,255,255,0)
}
.menu__link:hover {
  border-bottom: .0625rem solid #fff;
  transition: all .3s
}
.menu__link a {
  white-space: nowrap
}
.footer {
  padding-bottom: 3.75rem;
  background-color: var(--dark-grey)
}
.footer__body {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center
}
.footer__left {
  text-align: left
}
.footer__center {
  text-align: center
}
.menu-footer {
  border-top: .125rem solid var(--yellow);
  border-bottom: .125rem solid var(--yellow)
}
.menu-footer__list {
  display: flex;
  row-gap: .625rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center
}
.menu-footer__link {
  font-style: italic;
  line-height: 1.5;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff;
  border-bottom: .0625rem solid rgba(255,255,255,0)
}
.menu-footer__link:hover {
  border-bottom: .0625rem solid #fff;
  transition: all .3s
}
.menu-footer__link a {
  white-space: nowrap
}
.left-footer__logo img {
  width: 11.25rem;
  height: 11.25rem
}
.socials {
  display: flex;
  justify-content: center
}
.right-footer {
  text-align: right;
  display: flex;
  justify-content: end
}
.right-footer__button {
  position: relative;
  width: 11.25rem;
  display: flex;
  background-color: #fff;
  border-radius: .25rem;
  align-items: center;
  text-align: center;
  justify-content: center
}
.right-footer__button:after {
  content: "";
  width: 0;
  position: absolute;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: #6980ff;
  transition-duration: .5s
}
.right-footer__button:hover:after {
  left: 0;
  width: 100%
}
.right-footer__button span {
  z-index: 2;
  font-style: italic;
  line-height: 150%;
  letter-spacing: .04em;
  text-transform: uppercase;
  text-align: center;
  color: #222
}
.bottom-footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  line-height: 150%;
  color: #d5c9be
}
.bottom-footer__copyright {
  text-align: left
}
.bottom-footer__privacy {
  text-align: center
}
.bottom-footer__terms {
  text-align: right
}
.intro {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(/img/cover.webp) center no-repeat;
  background-size: cover
}
.intro__content {
  inset: 0;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%
}
.video {
  position: relative;
  padding-bottom: 100%;
  z-index: 1
}
.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto
}
.highlight {
  display: inline-block;
  background-color: rgba(0,0,0,0);
  color: transparent;
  -webkit-background-clip: content-box
}
.hero {
  background-color: var(--dark-grey);
  z-index: 1
}
.hero__content {
  max-width: 33.75rem
}
.hero__title {
  font-family: Prata;
  line-height: 1.2
}
.hero__subtitle {
  line-height: 1.2
}
.hero__menu {
  margin-bottom: 2.5rem
}
.menu-hero__list {
  display: grid
}
.menu-hero__item {
  display: flex;
  align-items: center;
  background-color: rgba(40,40,41,.7);
  border-radius: .25rem
}
.menu-hero__item:not(:last-child) {
  margin-bottom: 2.1875rem
}
.menu-hero__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 0 0 2.5rem;
  height: 2.5rem;
  width: 2.5rem
}
.menu-hero__icon:not(:last-child) {
  margin-right: 1.0625rem
}
.menu-hero__text {
  line-height: 1.1
}
.menu-hero__text span {
  font-family: Prata;
  line-height: 1.5;
  letter-spacing: .04em;
  text-transform: uppercase
}
.about {
  display: grid
}
.about__body {
  justify-items: center
}
.about__content {
  max-width: 45rem
}
.about__button {
  width: 38.375rem
}
.about__button span {
  font-family: Arial;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .04em;
  text-transform: uppercase;
  text-align: center
}
.menu-about__item {
  display: flex;
  align-items: center
}
.menu-about__item:not(:last-child) {
  border-bottom: .0625rem solid #55565a
}
.menu-about__item:not(:last-child) {
  padding-bottom: 2.5rem
}
.menu-about__item:not(:first-child) {
  padding-top: 2.5rem
}
.menu-about__icon {
  display: inline-flex;
  flex: 0 0 3.75rem;
  margin-right: 1.25rem
}
.menu-about__icon img {
  max-width: 100%
}
.menu-about__text {
  line-height: 1.4
}
.false {
  position: sticky;
  top: 0;
  justify-content: start;
  flex: 0 1 66.666%;
  align-items: start;
  background-color: var(--dark-grey);
  z-index: 1
}
.false__container {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  align-items: center;
  min-height: 6.25rem;
  align-items: center;
  gap: .9375rem
}
.false__logo {
  grid-area: 1/1/2/2;
  display: flex;
  align-content: center
}
.false__logo img {
  width: 6.25rem;
  height: 6.25rem
}
.false__menu {
  grid-area: 1/2/2/4
}
.subscribe__body {
  background-color: #fff;
  border: .125rem solid #d5c9be;
  border-radius: 1.875rem
}
.subscribe__title {
  color: var(--blue);
  font-family: Prata;
  line-height: 1.1
}
.subscribe__form {
  z-index: 15;
  display: flex;
  flex-direction: column
}
.subscribe__enter {
  display: flex;
  flex-direction: column
}
.subscribe__input {
  border: .125rem solid var(--more-yellow);
  border-radius: .25rem;
  padding: .8125rem 1.25rem .8125rem 2.375rem;
  max-width: 100%;
  line-height: 150%;
  color: var(--input-grey)
}
.subscribe__input:not(:last-child) {
  margin-bottom: .8125rem
}
.subscribe__input::-webkit-input-placeholder {
  opacity: .7
}
.subscribe__input:-ms-input-placeholder {
  opacity: .7
}
.subscribe__input::-ms-input-placeholder {
  opacity: .7
}
.subscribe__input::placeholder {
  opacity: .7
}
.subscribe__input._form-focus {
  border: .1875rem solid #c3ae60
}
.subscribe__checkbox {
  display: flex;
  align-items: center
}
.subscribe__label {
  line-height: 1.3;
  color: var(--input-grey);
  white-space: nowrap;
  margin-left: 1rem
}
.subscribe__button {
  position: relative;
  background-color: #282829;
  border-radius: .25rem;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center
}
.subscribe__button span {
  z-index: 2;
  position: relative;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #fff
}
.subscribe__button:after {
  content: "";
  width: 0;
  position: absolute;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: #ff5151;
  transition-duration: .7s
}
.subscribe__button:hover:after {
  left: 0;
  width: 100%
}
input[type=checkbox] {
  accent-color: #3a9f21;
  border: 2px solid #405d65;
  border-radius: .25rem;
  width: 1.5rem;
  height: 1.5rem
}
.button {
  min-width: 18.125rem;
  min-height: 3.75rem;
  display: inline-flex;
  font-weight: 700;
  line-height: 1.5%;
  letter-spacing: .04em;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fcfcff;
  background: linear-gradient(90deg,#ff5151 0,#6980ff 100%);
  border: none;
  border-radius: 3.125rem;
  transition: all .3s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  padding: .625rem;
  font-size: 1.5rem
}
.button::before {
  content: "";
  border-radius: 3.125rem;
  min-width: 100%;
  min-height: 3.75rem;
  border: .1875rem solid #e9e9e4;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s
}
.button:focus,
.button:hover {
  color: #fff;
  -webkit-transform: translateY(.375rem);
  transform: translateY(.375rem)
}
.button:focus::before,
.button:hover::before {
  opacity: 1
}
.button::after {
  content: "";
  width: 90%;
  height: 18.75rem;
  border-radius: 100%;
  border: .1875rem solid #cacaca;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-animation: ring 2.5s infinite;
  animation: ring 2.5s infinite
}
.button:focus::after,
.button:hover::after {
  -webkit-animation: none;
  animation: none;
  display: none
}
@-webkit-keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1
  }
  100% {
    width: 18.75rem;
    height: 18.75rem;
    opacity: 0
  }
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1
  }
  100% {
    width: 18.75rem;
    height: 18.75rem;
    opacity: 0
  }
}
@media (min-width:61.99875em) {
  .about {
    grid-template-columns: auto 1fr auto
  }
  .about__content {
    padding-left: 3.3125rem;
    padding-right: 3.3125rem
  }
  .subscribe__body {
    display: grid;
    grid-template-columns: auto-fit,1fr;
    position: relative;
    max-height: 39.375rem
  }
  .subscribe__image {
    max-width: 38%;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%
  }
}
@media (min-width:61.99875em)and (min-width:101.875em) {
  .subscribe__form {
    width: 48.75rem
  }
}
@media (min-width:101.875em) {
  .content__image img {
    width: 47.6875rem
  }
  .header__container {
    padding-top: 1.25rem
  }
  .header__container {
    padding-bottom: 1.25rem
  }
  .menu__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .menu__link {
    font-size: 1rem
  }
  .footer {
    margin-top: 6.25rem
  }
  .menu-footer {
    padding-top: 2.5rem
  }
  .menu-footer {
    padding-bottom: 2.5rem
  }
  .menu-footer__list {
    -webkit-column-gap: 3.75rem;
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem
  }
  .menu-footer__link {
    font-size: 1.25rem
  }
  .socials {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem
  }
  .right-footer__button {
    height: 4.875rem
  }
  .right-footer__button span {
    font-size: 1.25rem
  }
  .bottom-footer {
    font-size: 1.25rem
  }
  .intro__content {
    padding-top: 3.125rem
  }
  .intro__content {
    padding-left: 2.1875rem
  }
  .intro__content {
    padding-right: 2.1875rem
  }
  .intro__content {
    font-size: 6.875rem
  }
  .hero {
    padding-top: 15.25rem
  }
  .hero__title {
    font-size: 5rem
  }
  .hero__title {
    margin-bottom: 3.125rem
  }
  .hero__subtitle {
    font-size: 3.125rem
  }
  .hero__subtitle {
    margin-bottom: 4rem
  }
  .hero__button {
    margin-bottom: 3.125rem
  }
  .menu-hero__text {
    font-size: 1.5rem
  }
  .menu-hero__text span {
    font-size: 2.5rem
  }
  .about {
    margin-top: 6.25rem
  }
  .about__content {
    padding-top: 3.3125rem
  }
  .about__menu {
    padding-bottom: 5rem
  }
  .about__button span {
    font-size: 1.25rem
  }
  .menu-about__text {
    font-size: 1.5rem
  }
  .false__container {
    padding-top: 1.25rem
  }
  .false__container {
    padding-bottom: 1.25rem
  }
  .subscribe {
    padding-top: 6.25rem
  }
  .subscribe__content {
    padding-top: 4.5rem
  }
  .subscribe__content {
    padding-bottom: 4.5rem
  }
  .subscribe__content {
    padding-left: 8.375rem
  }
  .subscribe__title {
    font-size: 3.375rem
  }
  .subscribe__title {
    margin-bottom: 2.8125rem
  }
  .subscribe__input {
    font-size: 1.5rem
  }
  .subscribe__checkbox {
    padding-top: 1.625rem
  }
  .subscribe__checkbox {
    padding-bottom: 1.625rem
  }
  .subscribe__label {
    font-size: 1.1875rem
  }
  .subscribe__button span {
    font-size: 1.5rem
  }
  .subscribe__button {
    height: 6.25rem
  }
  .subscribe__image {
    margin-top: -1.875rem
  }
}
@media (max-width:20em) {
  .header__container {
    padding-top: .625rem
  }
  .header__container {
    padding-bottom: .625rem
  }
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .menu__link {
    font-size: .875rem
  }
  .footer {
    margin-top: 1.875rem
  }
  .menu-footer {
    padding-top: 1.25rem
  }
  .menu-footer {
    padding-bottom: 1.25rem
  }
  .menu-footer__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .menu-footer__link {
    font-size: 1rem
  }
  .socials {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .right-footer__button {
    height: 3.125rem
  }
  .right-footer__button span {
    font-size: 1.125rem
  }
  .bottom-footer {
    font-size: 1.125rem
  }
  .intro__content {
    padding-top: 1.25rem
  }
  .intro__content {
    padding-left: 1.25rem
  }
  .intro__content {
    padding-right: 1.25rem
  }
  .intro__content {
    font-size: 1.5rem
  }
  .hero__title {
    font-size: 3.125rem
  }
  .hero__title {
    margin-bottom: 1.875rem
  }
  .hero__subtitle {
    font-size: 1.875rem
  }
  .hero__subtitle {
    margin-bottom: 1.5625rem
  }
  .hero__button {
    margin-bottom: 1.875rem
  }
  .menu-hero__text {
    font-size: 1rem
  }
  .menu-hero__text span {
    font-size: 1.25rem
  }
  .about {
    margin-top: .0000000625rem
  }
  .about__content {
    padding-top: 1.875rem
  }
  .about__menu {
    padding-bottom: 1.25rem
  }
  .about__button span {
    font-size: 1rem
  }
  .menu-about__text {
    font-size: 1rem
  }
  .false__container {
    padding-top: .625rem
  }
  .false__container {
    padding-bottom: .625rem
  }
  .subscribe {
    padding-top: 1.875rem
  }
  .subscribe__content {
    padding-top: 1.875rem
  }
  .subscribe__content {
    padding-bottom: 1.875rem
  }
  .subscribe__content {
    padding-left: .625rem
  }
  .subscribe__title {
    font-size: 1.5rem
  }
  .subscribe__title {
    margin-bottom: 1.25rem
  }
  .subscribe__input {
    font-size: 1.25rem
  }
  .subscribe__checkbox {
    padding-top: 1.25rem
  }
  .subscribe__checkbox {
    padding-bottom: 1.25rem
  }
  .subscribe__label {
    font-size: 1rem
  }
  .subscribe__button span {
    font-size: 1.25rem
  }
  .subscribe__button {
    height: 3.125rem
  }
  .subscribe__image {
    margin-top: -1.25rem
  }
}
@media (max-width:61.99875em) {
  .content__image img {
    width: 25rem
  }
  .content__image img {
    position: relative;
    min-width: 100%;
    border-radius: 1.875rem;
    border: 1px solid #fff;
    padding: .0625rem
  }
  .content__image {
    padding: .9375rem
  }
  .header {
    z-index: 15
  }
  .header__container {
    grid-template-columns: repeat(2,1fr)
  }
  .header__logo {
    grid-area: auto;
    justify-content: center
  }
  .header__menu {
    grid-area: auto
  }
  .footer__body {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center
  }
  .footer__left {
    text-align: center
  }
  .footer__center {
    text-align: center
  }
  .footer__right {
    text-align: center
  }
  .socials {
    flex-wrap: wrap
  }
  .right-footer {
    justify-content: center
  }
  .bottom-footer {
    grid-template-columns: 1fr
  }
  .bottom-footer__copyright {
    text-align: center
  }
  .bottom-footer__privacy {
    text-align: center
  }
  .bottom-footer__terms {
    text-align: center
  }
  .hero {
    padding-top: 3.125rem
  }
  .hero {
    flex-direction: column
  }
  .hero__content {
    max-width: 100%
  }
  .about {
    padding: .625rem .9375rem 1.875rem .9375rem
  }
  .about__image img {
    position: relative;
    min-width: 100%;
    border-radius: 1.875rem;
    border: 1px solid #fff;
    padding: .0625rem
  }
  .about__image img {
    padding: .3125rem
  }
  .about__content {
    max-width: 100%
  }
  .about__button {
    margin-bottom: 3.4375rem
  }
  .menu-about__item:not(:last-child) {
    padding-bottom: .9375rem
  }
  .menu-about__item:not(:first-child) {
    padding-top: .9375rem
  }
  .false__container {
    grid-template-columns: repeat(2,1fr)
  }
  .false__logo {
    grid-area: auto;
    justify-content: center
  }
  .false__menu {
    grid-area: auto
  }
  .button {
    width: 100%
  }
}
@media (max-width:61.99875em)and (max-width:20em) {
  .footer__body {
    row-gap: 1.5rem
  }
  .footer__body {
    margin-top: 1.5rem
  }
  .socials {
    row-gap: 1.25rem
  }
  .right-footer {
    margin-bottom: 2rem
  }
  .bottom-footer {
    gap: 1.125rem
  }
  .subscribe__content {
    padding-right: .625rem
  }
}
@media (min-width:61.99875em)and (max-width:101.875em) {
  .content__image img {
    width: clamp(25rem ,-10.2740450926rem + 56.8947681891vw ,47.6875rem)
  }
  .hero {
    padding-top: clamp(3.125rem ,-15.7266935206rem + 30.4065703269vw ,15.25rem)
  }
}
@media (min-width:20em)and (max-width:101.875em) {
  .header__container {
    padding-top: clamp(.625rem ,.4723282443rem + .7633587786vw ,1.25rem)
  }
  .header__container {
    padding-bottom: clamp(.625rem ,.4723282443rem + .7633587786vw ,1.25rem)
  }
  .menu__list {
    -webkit-column-gap: clamp(.9375rem ,.7084923664rem + 1.1450381679vw ,1.875rem);
    -moz-column-gap: clamp(.9375rem ,.7084923664rem + 1.1450381679vw ,1.875rem);
    column-gap: clamp(.9375rem ,.7084923664rem + 1.1450381679vw ,1.875rem)
  }
  .menu__link {
    font-size: clamp(.875rem ,.8444656489rem + .1526717557vw ,1rem)
  }
  .footer {
    margin-top: clamp(1.875rem ,.8062977099rem + 5.3435114504vw ,6.25rem)
  }
  .menu-footer {
    padding-top: clamp(1.25rem ,.9446564885rem + 1.5267175573vw ,2.5rem)
  }
  .menu-footer {
    padding-bottom: clamp(1.25rem ,.9446564885rem + 1.5267175573vw ,2.5rem)
  }
  .menu-footer__list {
    -webkit-column-gap: clamp(1.875rem ,1.4169847328rem + 2.2900763359vw ,3.75rem);
    -moz-column-gap: clamp(1.875rem ,1.4169847328rem + 2.2900763359vw ,3.75rem);
    column-gap: clamp(1.875rem ,1.4169847328rem + 2.2900763359vw ,3.75rem)
  }
  .menu-footer__link {
    font-size: clamp(1rem ,.9389312977rem + .3053435115vw ,1.25rem)
  }
  .socials {
    -webkit-column-gap: clamp(.9375rem ,.6779580153rem + 1.2977099237vw ,2rem);
    -moz-column-gap: clamp(.9375rem ,.6779580153rem + 1.2977099237vw ,2rem);
    column-gap: clamp(.9375rem ,.6779580153rem + 1.2977099237vw ,2rem)
  }
  .right-footer__button {
    height: clamp(3.125rem ,2.697519084rem + 2.1374045802vw ,4.875rem)
  }
  .right-footer__button span {
    font-size: clamp(1.125rem ,1.0944656489rem + .1526717557vw ,1.25rem)
  }
  .bottom-footer {
    font-size: clamp(1.125rem ,1.0944656489rem + .1526717557vw ,1.25rem)
  }
  .intro__content {
    padding-top: clamp(1.25rem ,.7919847328rem + 2.2900763359vw ,3.125rem)
  }
  .intro__content {
    padding-left: clamp(1.25rem ,1.0209923664rem + 1.1450381679vw ,2.1875rem)
  }
  .intro__content {
    padding-right: clamp(1.25rem ,1.0209923664rem + 1.1450381679vw ,2.1875rem)
  }
  .intro__content {
    font-size: clamp(1.5rem ,.1870229008rem + 6.5648854962vw ,6.875rem)
  }
  .hero__title {
    font-size: clamp(3.125rem ,2.6669847328rem + 2.2900763359vw ,5rem)
  }
  .hero__title {
    margin-bottom: clamp(1.875rem ,1.5696564885rem + 1.5267175573vw ,3.125rem)
  }
  .hero__subtitle {
    font-size: clamp(1.875rem ,1.5696564885rem + 1.5267175573vw ,3.125rem)
  }
  .hero__subtitle {
    margin-bottom: clamp(1.5625rem ,.9670801527rem + 2.9770992366vw ,4rem)
  }
  .hero__button {
    margin-bottom: clamp(1.875rem ,1.5696564885rem + 1.5267175573vw ,3.125rem)
  }
  .menu-hero__text {
    font-size: clamp(1rem ,.8778625954rem + .6106870229vw ,1.5rem)
  }
  .menu-hero__text span {
    font-size: clamp(1.25rem ,.9446564885rem + 1.5267175573vw ,2.5rem)
  }
  .about {
    margin-top: clamp(.0000000625rem ,-1.5267174795rem + 7.6335877099vw ,6.25rem)
  }
  .about__content {
    padding-top: clamp(1.875rem ,1.5238549618rem + 1.7557251908vw ,3.3125rem)
  }
  .about__menu {
    padding-bottom: clamp(1.25rem ,.3339694656rem + 4.5801526718vw ,5rem)
  }
  .about__button span {
    font-size: clamp(1rem ,.9389312977rem + .3053435115vw ,1.25rem)
  }
  .menu-about__text {
    font-size: clamp(1rem ,.8778625954rem + .6106870229vw ,1.5rem)
  }
  .false__container {
    padding-top: clamp(.625rem ,.4723282443rem + .7633587786vw ,1.25rem)
  }
  .false__container {
    padding-bottom: clamp(.625rem ,.4723282443rem + .7633587786vw ,1.25rem)
  }
  .subscribe {
    padding-top: clamp(1.875rem ,.8062977099rem + 5.3435114504vw ,6.25rem)
  }
  .subscribe__content {
    padding-top: clamp(1.875rem ,1.233778626rem + 3.2061068702vw ,4.5rem)
  }
  .subscribe__content {
    padding-bottom: clamp(1.875rem ,1.233778626rem + 3.2061068702vw ,4.5rem)
  }
  .subscribe__content {
    padding-left: clamp(.625rem ,-1.268129771rem + 9.465648855vw ,8.375rem)
  }
  .subscribe__title {
    font-size: clamp(1.5rem ,1.0419847328rem + 2.2900763359vw ,3.375rem)
  }
  .subscribe__title {
    margin-bottom: clamp(1.25rem ,.8683206107rem + 1.9083969466vw ,2.8125rem)
  }
  .subscribe__input {
    font-size: clamp(1.25rem ,1.1889312977rem + .3053435115vw ,1.5rem)
  }
  .subscribe__checkbox {
    padding-top: clamp(1.25rem ,1.1583969466rem + .4580152672vw ,1.625rem)
  }
  .subscribe__checkbox {
    padding-bottom: clamp(1.25rem ,1.1583969466rem + .4580152672vw ,1.625rem)
  }
  .subscribe__label {
    font-size: clamp(1rem ,.9541984733rem + .2290076336vw ,1.1875rem)
  }
  .subscribe__button span {
    font-size: clamp(1.25rem ,1.1889312977rem + .3053435115vw ,1.5rem)
  }
  .subscribe__button {
    height: clamp(3.125rem ,2.3616412214rem + 3.8167938931vw ,6.25rem)
  }
  .subscribe__image {
    margin-top: clamp(-1.875rem ,-1.0973282443rem + -.7633587786vw ,-1.25rem)
  }
}
@media (max-width:61.99875em)and (min-width:101.875em) {
  .footer__body {
    row-gap: 2rem
  }
  .footer__body {
    margin-top: 2rem
  }
  .socials {
    row-gap: 2rem
  }
  .right-footer {
    margin-bottom: 2.5rem
  }
  .bottom-footer {
    gap: 1.5625rem
  }
  .subscribe__content {
    padding-right: 8.375rem
  }
}
@media (max-width:61.99875em)and (min-width:20em)and (max-width:101.875em) {
  .footer__body {
    row-gap: clamp(1.5rem ,1.3778625954rem + .6106870229vw ,2rem)
  }
  .footer__body {
    margin-top: clamp(1.5rem ,1.3778625954rem + .6106870229vw ,2rem)
  }
  .socials {
    row-gap: clamp(1.25rem ,1.0667938931rem + .9160305344vw ,2rem)
  }
  .right-footer {
    margin-bottom: clamp(2rem ,1.8778625954rem + .6106870229vw ,2.5rem)
  }
  .bottom-footer {
    gap: clamp(1.125rem ,1.018129771rem + .534351145vw ,1.5625rem)
  }
  .subscribe__content {
    padding-right: clamp(.625rem ,-1.268129771rem + 9.465648855vw ,8.375rem)
  }
}
@media (min-width:61.99875em)and (min-width:20em)and (max-width:101.875em) {
  .subscribe__form {
    width: clamp(15.625rem ,7.5333969466rem + 40.4580152672vw ,48.75rem)
  }
}
@media (min-width:61.99875em)and (max-width:20em) {
  .subscribe__form {
    width: 15.625rem
  }
}
@media (any-hover:hover) {
  .select__option:hover {
    background: #d9d9d9
  }
}